<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>
			{% block title %}{% endblock %}
		</title>
		<link
		rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
		{# Font Awesome #}
		<link
		rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
		{#Bootstrap CSS#}
		<link
		rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
		{% block stylesheets %}
			<!-- Rich Text Editor CSS -->
			<link
			rel="stylesheet" href="{{asset("lib/rich-text-editor/css/richtext.min.css")}}"/>
			<!-- Vendor CSS -->
			<link
			rel="stylesheet" href="{{asset("lib/remixicon/fonts/remixicon.css")}}"/>
			<!-- Template CSS -->
			<link
			rel="stylesheet" href="{{asset("assets/css/style.min.css")}}"/>
			<!-- Main CSS -->
			<link rel="stylesheet" href="{{asset("assets/views/main.css")}}"/>
		{% endblock %}
		{#        {% block javascripts %}#}
	{#            {{ encore_entry_script_tags('app') }}#}
		{#        {% endblock %}#}
	</head>
	<body class="skin-base animate"> {% block boilerplate %}{% endblock %}
		{% block javascripts %}
			<script src="{{ asset("lib/jquery/jquery.min.js") }}"></script>
			<script src="{{ asset("lib/bootstrap/js/bootstrap.bundle.min.js") }}"></script>
			<script src="{{ asset("lib/feathericons/feather.min.js") }}"></script>
			<script src="{{ asset("lib/perfect-scrollbar/perfect-scrollbar.min.js") }}"></script>
			<script src="{{ asset("lib/rich-text-editor/js/jquery.richtext.min.js") }}"></script>
			<script src="{{ asset("lib/pagination/pagination.min.js") }}"></script>

			<script src="{{ asset("assets/js/script.js") }}"></script>
			<script src="{{ asset("assets/js/main.js") }}"></script>
		{% endblock %}
	</body>
</html>
