.page-title-box {
    padding: 10px 1.5rem;
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(56,65,74,.15);
    margin: -23px -1.5rem 1.5rem -1.5rem;
    h4{
        font-weight: 700;
        font-size: 15px!important;
        text-transform: uppercase;
    }
    .breadcrumb {
        background-color: transparent;
        padding: 0;
    }
}
.breadcrumb-item{
    a{
        color: #495057;
    }
}

.card{
    box-shadow: 0 1px 2px rgba(56,65,74,.15);
}
.card-header{
    border-bottom: 1px solid #e9ebec !important;
}
.card-title{
    font-size: 16px;
    margin: 0 0 7px 0;
}

.search-box{ 
    position: relative;
    .form-control {
    padding-left: 40px;
    }
    .search-icon {
        font-size: 14px;
        position: absolute;
        left: 13px;
        top: 0;
        height: 100%;
        display: flex;
        align-items: center;
        color: #878a99;
    }
}