{% extends 'base/base.html.twig' %}
{% block boilerplate %}
	<div class="sidebar">
		<div class="sidebar-header">
			<a href="#" class="sidebar-logo">
				<span></span>
			</a>
			<a href="#" class="sidebar-logo-text">The<span>BeautyStation</span>
			</a>
		</div>
		<!-- sidebar-header -->
		<div class="sidebar-search">
			<div class="search-body">
				<i data-feather="search"></i>
				<input type="text" class="form-control" placeholder="Search..."/>
			</div>
			<!-- search-body -->
		</div>
		<!-- sidebar-search -->
		<div class="sidebar-body">
			<ul class="nav-sidebar">
				<li class="nav-item active show">
					<a href="" class="nav-link">
						<i data-feather="grid"></i>
						<span>Dashboard</span>
					</a>
				</li>
				<li class="nav-item">
					<a href="" class="nav-link with-sub">
						<i data-feather="database"></i>
						<span>Product</span>
					</a>
					<nav class="nav-sub">
						<a href="{{ path('admin_product_list') }}" class="sub-link">Product</a>
						{#                    <a href="{{ path('gallery_list') }}" class="sub-link">Galleries</a>#}
						{#                    <a href="{{ path('brand_list') }}" class="sub-link">Brands</a>#}
						<a href="{{ path('admin_category_list') }}" class="sub-link">Category</a>
						{#                    <a href="{{ path('skinType_list') }}" class="sub-link">Skin Types</a>#}
					</nav>
				</li>
				<li class="nav-item">
					<a href="" class="nav-link">
						<i data-feather="shopping-bag"></i>
						<span>Orders</span>
					</a>
				</li>
				<li class="nav-item">
					<a href="" class="nav-link with-sub">
						<i data-feather="users"></i>
						<span>Users</span>
					</a>
					<nav class="nav-sub">
						<a href="" class="sub-link">User info</a>
						<a href="" class="sub-link">User address book</a>
					</nav>
				</li>
			</ul>

			<hr/>

			<ul class="nav-sidebar">
				<li class="nav-item">
					<a href="" class="nav-link with-sub">
						<i data-feather="users"></i>
						<span>Manage Accounts</span>
					</a>
					<nav class="nav-sub">
						<a href="" class="sub-link">User Privacy</a>
						<a href="" class="sub-link">Subscriptions</a>
					</nav>
				</li>
				<li class="nav-item">
					<a href="" class="nav-link">
						<i data-feather="package"></i>
						<span>Resources</span>
					</a>
				</li>
			</ul>

			<hr/>

			<nav class="nav-sidebar">
				<a href="" class="nav-link">
					<i data-feather="settings"></i>
					<span>Preferences</span>
				</a>
			</nav>
		</div>
		<!-- sidebar-body -->
		<div class="sidebar-footer">
			<a href="" class="avatar online">
				<span class="avatar-initial">s</span>
			</a>
			<div class="avatar-body">
				<div class="d-flex align-items-center justify-content-between">
					<h6>Samantha Doe</h6>
					<a href="" class="footer-menu">
						<i class="ri-settings-4-line"></i>
					</a>
				</div>
				<span>Superuser/Administrator</span>
				<a href="{{ path('app_logout') }}">Log out</a>
			</div>
			<!-- avatar-body -->
		</div>
		<!-- sidebar-footer -->
	</div>
	<!-- sidebar -->

	<div class="content">
		<div class="content-header">
			<a id="contentMenu" href="#" class="content-menu d-none d-lg-flex">
				<i data-feather="menu"></i>
			</a>
			<a id="mobileMenu" href="#" class="content-menu d-lg-none">
				<i data-feather="menu"></i>
			</a>
		</div>
		<!-- content-header -->
		<div class="content-body">
			<div class="page-title-box d-sm-flex align-items-center justify-content-between">
				<h4 class="mb-sm-0">
					{% block page %}{% endblock %}
				</h4>
				<div class="page-title-right">
					<ol class="breadcrumb m-0">
						<li class="breadcrumb-item">
							<a href="">
								{% block breadcrumb_lv1 %}{% endblock %}
							</a>
						</li>
						<li class="breadcrumb-item active">
							<a href="">
								{% block breadcrumb_lv2 %}{% endblock %}
							</a>
						</li>
					</ol>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					{% for flash_message in app.session.flashBag.get('notice') %}
						<div class="alert alert-success">{{ flash_message }}</div>
					{% endfor %}
					{% for flash_message in app.session.flashBag.get('error') %}
						<div class="alert alert-danger">{{ flash_message }}</div>
					{% endfor %}
					{% block body %}{% endblock %}
				</div>
			</div>
		</div>
		<!-- content-body -->
	</div>
	<!-- content -->
</body></html></div><!-- /.container -->{% endblock %}
