{% extends 'admin/base.html.twig' %}

{% block title %}ProductController
{% endblock %}
{% block page %}
	Categories
{% endblock %}
{% block breadcrumb_lv1 %}
	Categories
{% endblock %}
{% block breadcrumb_lv2 %}
	Category list
{% endblock %}
{% block body %}
	<div class="card">
		<div class="card-header">
			<h4 class="card-title mb-0">Add, Edit & Remove</h4>
		</div>
		<div class="card-body">
			<div class="listjs-table" id="customerList">
				<div class="row gap-4 mb-3">
					<div class="col-sm-auto">
						<div>
							<button onclick="location.href='{{ path('admin_create_category') }}'" class="btn btn-sm btn-success add-btn">
								<i data-feather="plus"></i>
								Add
							</button>
							<button class="btn btn-sm btn-outline-danger">
								<i data-feather="trash-2"></i>
							</button>
						</div>
					</div>
					<div class="col-sm">
						<div class="d-flex justify-content-sm-end">
							<div class="search-box ms-2">
								<input type="text" class="form-control search-body" name="" id="" placeholder="Search..."/>
								<i class="ri-search-line search-icon"></i>
							</div>
						</div>
					</div>
				</div>
				<div class="table-responsive table-card mt-3 mb-1">
					<table class="table">
						<thead class="thead-light">
							<tr>
								<th scope="col">#</th>
								<th scope="col">Thumbnail</th>
								<th>Action</th>
							</tr>
						</thead>
						<tbody>
							{% for image in data %}
								<tr>
									<th scope="row">{{ image.id }}</th>
									<td>{{ image.thumbnail }}</td>
									<td class="d-flex gap-1"></td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
				<div class="d-flex justify-content-end">
					<nav aria-label="...">
						<ul class="pagination">
							<li class="page-item disabled">
								<a class="page-link">Previous</a>
							</li>
							<li class="page-item">
								<a class="page-link" href="#">1</a>
							</li>
							<li class="page-item active" aria-current="page">
								<a class="page-link" href="#">2</a>
							</li>
							<li class="page-item">
								<a class="page-link" href="#">3</a>
							</li>
							<li class="page-item">
								<a class="page-link" href="#">Next</a>
							</li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
