{% extends 'admin/base.html.twig' %}
{% block title %}New Product
{% endblock %}

{% block page %}
	EDIT CATEGORY
{% endblock %}
{% block breadcrumb_lv1 %}
	Categories
{% endblock %}
{% block breadcrumb_lv2 %}
	Edit Category
{% endblock %}
{% block body %}
	<div class="card">
		<div class="card-header">
			<div class="d-flex justify-content-between align-item-center">
				<h4 class="card-title mb-0 h-auto">Edit Category</h4>
			</div>
		</div>
		{{ form_start(form) }}
		<div class="card-body">
			<div class="live-preview">
				<div class="form-group">
					<div class="mb-3">
						<label for="validationServer01">Name</label>
						{{ form_widget(form.name,{'attr':{'class':'form-control','placeholder': 'Name'}}) }}
					</div>
				</div>
			</div>
		</div>
		<div class="card-footer d-flex justify-content-between">
			<button type="button" class="btn btn-secondary btn-sm" onclick="location.href='{{path('admin_category_list')}}'" name="exit">
				<i data-feather="chevron-left"></i>
				Back</button>
			<button class="btn btn-primary btn-sm mr-1" type="submit" name="create_product">
				<i data-feather="save"></i>
				Save</button>
		</div>
		{{ form_end(form) }}
	</div>
{% endblock %}
