{% extends 'admin/base.html.twig' %}

{% block title %}ProductController
{% endblock %}
{% block page %}
    Categories
{% endblock %}
{% block breadcrumb_lv1 %}
    Categories
{% endblock %}
{% block breadcrumb_lv2 %}
    Category list
{% endblock %}
{% block body %}
    <div class="card">
        <div class="card-header">
            <h4 class="card-title mb-0">Add, Edit & Remove</h4>
        </div>
        <div class="card-body">
        </div>
    </div>
{% endblock %}
