{% extends 'admin/base.html.twig' %}

{% block title %}ProductController
{% endblock %}

{% block page %}
	Products
{% endblock %}
{% block breadcrumb_lv1 %}
	Products
{% endblock %}
{% block breadcrumb_lv2 %}
	Product details
{% endblock %}
{% block body %}
	<div class="card">
		<div class="card-header">
			<div class="d-flex justify-content-between align-item-center">
				<h4 class="card-title mb-0 h-auto">Product details</h4>
			</div>
		</div>
		<div class="card-body">
			<div class="live-preview">
				<form>
					<div class="form-row">
						<div class="col-8">
							<div class="col-md-12 mb-3">
								<label for="validationServer01">Name</label>
								<input type="text" class="form-control" value="{{products.name}}" required/>

							</div>
							<div class="col-md-12 mb-3">
								<label for="validationServer03">About</label>
								<textarea type="text" class="form-control rich-text-editor" required>{{products.about}}</textarea>
							</div>
							<div class="col-md-12 mb-3">
								<label for="validationServer03">How to use</label>
								<textarea class="form-control">{{products.howToUse}}</textarea>
							</div>
							<div class="col-md-12 mb-3">
								<label for="">Ingredient</label>
								<textarea class="form-control">{{products.ingredient}}</textarea>
							</div>
						</div>
						<div class="col-4">
							<div class="col-md-12 mb-3">
								<label for="validationServer02">Price</label>
								<input type="number" class="form-control" value="{{products.listPrice}}" required/>
							</div>
							<div class="col-md-12 mb-3">
								<label for="validationServer04">Category</label>
								<select class="custom-select" required>
									<option selected disabled>{{products.category}}</option>
								</select>
							</div>
							{#							<div class="col-md-12 mb-3">#}
						{#								<label for="validationServer05">Brand</label>#}
							{#								<select class="custom-select is-invalid" id="validationServer04" aria-describedby="validationServer04Feedback" required>#}
							{#									<option selected disabled>{{products.brand}}</option>#}
							{#								</select>#}
							{#							</div>#}
						</div>
					</div>
				</form>
			</div>
		</div>
		<div class="card-footer d-flex justify-content-between">
			<button class="btn btn-secondary btn-sm" onclick="location.href='{{path('admin_product_list')}}'" name="exit">
				<i data-feather="chevron-left"></i>
				Back</button>
			<button class="btn btn-success btn-sm" onclick="location.href='{{path('admin_edit_product', {'id': products.id})}}'" name="exit">
				<i data-feather="edit"></i>
				Edit
			</button>
		</div>
	</div>
{% endblock %}
