{% extends 'admin/base.html.twig' %}
{% block title %}Edit Product
{% endblock %}

{% block page %}
	UPDATE PRODUCT
{% endblock %}
{% block breadcrumb_lv1 %}
	Products
{% endblock %}
{% block breadcrumb_lv2 %}
	Edit Product
{% endblock %}
{% block body %}
	<div class="card">
		<div class="card-header">
			<div class="d-flex justify-content-between">
				<h4 class="card-title mb-0">Edit Product</h4>
			</div>
		</div>
		{{ form_start(form) }}
		<form>
			<div class="card-body">
				<div class="live-preview">
					<div class="form-row">
						<div class="col-8">
							<div class="mb-3">
								<label for="validationServer01">Name</label>
								{{ form_widget(form.name,{'attr':{'class':'form-control'}}) }}
							</div>
							<div class="mb-3">
								<label for="validationServer03">About</label>
								{{ form_widget(form.about,{'attr':{'class':'form-control rich-text-editor','placeholder': 'About'}}) }}
							</div>
							<div class="mb-3">
								<label for="validationServer03">How to use</label>
								<textarea name="{{ field_name(form.how_to_use) }}" class="form-control">{{ field_value(form.how_to_use) }}</textarea>
							</div>
							<div class="mb-3">
								<label for="">Ingredient</label>
								<textarea name="{{ field_name(form.ingredient) }}" class="form-control">{{ field_value(form.ingredient) }}</textarea>
							</div>
						</div>
						<div class="col-4">
							<div class="mb-3">
								<label for="validationServer02">Price</label>
								{{ form_widget(form.list_price,{'attr':{'class':'form-control','placeholder': 'Price'}}) }}
							</div>
							<div class="mb-3">
								<label for="validationServer05">Category</label>
								{{ form_widget(form.category,{'attr':{'class':'form-control','placeholder': 'Price'}}) }}
							</div>
							<div class="mb-3">
								<label>Gallery</label>
								<button onclick="location.href='{{path('admin_create_gallery', {'id': id})}}'" type="button" class="btn btn-info w-100">
									<i data-feather="image"></i>
									Show Gallery</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="card-footer d-flex justify-content-between">
				<button type="button" class="btn btn-secondary btn-sm" onclick="location.href='{{path('admin_product_list')}}'" name="exit">
					<i data-feather="chevron-left"></i>
					Back</button>
				<button class="btn btn-primary btn-sm" type="submit" name="create_product">
					<i data-feather="save"></i>
					Save</button>
			</div>
		</form>
		{{ form_end(form) }}
	</div>
{% endblock %}
